<html>
<head>
	<meta charset="utf-8"/>
	<script src="../temp.js"></script>
	<script src="../Utilities.js"></script>
	<script src="../Alchahemistry.js"></script>
	<link rel="shortcut icon" href="../images/icon.png">
	<title id="Ttitle">Alchahemistry</title>
	<link rel="stylesheet" type="text/css" href="../theme.css">
	<script>
		document.getElementById("Ttitle").innerHTML+=(" "+window.location.href.split("/")[window.location.href.split("/").length-2]);
		urlData={};
		function parseURLParams() {
			var url = window.location.href;
		    var queryStart = url.indexOf("?") + 1,
		        queryEnd   = url.indexOf("#") + 1 || url.length + 1,
		        query = url.slice(queryStart, queryEnd - 1),
		        pairs = query.replace(/\+/g, " ").split("&"),
		        parms = {}, i, n, v, nv;

		    if (query === url || query === "") return;

		    for (i = 0; i < pairs.length; i++) {
		        nv = pairs[i].split("=", 2);
		        n = decodeURIComponent(nv[0]);
		        v = decodeURIComponent(nv[1]);

		        if (!parms.hasOwnProperty(n)) parms[n] = [];
		        parms[n].push(nv.length === 2 ? v : null);
		    }
		    delete parms[""];
		    return parms;
		}
		urlData=parseURLParams();
		function redirect(data) {
			var url=window.location.href.split("?")[0]+"?";
			for(var prop in data) {
				for(var i=0; i<data[prop].length; i++) {
					if(typeof data[prop][i]!="undefined") {
						url+=(prop+"="+data[prop][i]);
					}
					url+="&";
				}
			}
			location.href = url;
		}
		checkCookie("data",Welcome,NewPlayer);
	</script>
</head>
<body>
	<div id="topBar">
		<div id="title">
			<img src="../images/Title.png">
		</div>
		<div id="topButtons">
			<a class="topBarButton" href="../Home/">Home</a>
			<a class="topBarButton" href="../Profile/">Profile</a>
			<a class="topBarButton" href="../Reagents/">Reagents</a>
			<a class="topBarButton" href="../Fight/">Fight</a>
			<a class="topBarButton" href="../Recipes/">Recipes</a>
			<a class="topBarButton" href="../Alchemy/">Alchemy</a>
			<a class="topBarButton" href="../Mercenaries/">Mercenaries</a>
		</div>
		<div id="login" class="topBarButton">Login
			<div id="loginMenu">
				<div class="loginDrop">
					<input id="Username" placeholder="Username" type="text">
				</div>
				<div class="loginDrop">
					<input id="Password" placeholder="Password" type="password">
					<input onclick="login()" value="Login" type="button">
				</div>
			</div>
		</div>
		<div id="register" class="topBarButton">Register
			<div id="registerMenu">
				<div class="registerDrop">
					<input id="RegUsername" placeholder="Username" type="text">
				</div>
				<div class="registerDrop">
					<input id="RegPassword" placeholder="Password" type="password">
					<input onclick="register()" value="Register" type="button">
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="center"></div>
		<div id="leftSidebar"></div>
		<div id="rightSidebar"></div>
	</div>
	<div id=""></div>
</body>
</html>